
body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 65% 20%;
    height: 95%;
    width: 95%;
    position: absolute;
    font-family: Arial, sans-serif;
}

header {
    background-color: #967E7F;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin: 10px;
    text-align: center;
}

aside {
    background-color: #C0C0C0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: 10px;
}

content {
    background-color: #ECE8E8;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 10px;
}


footer {
    background-color: #DEBCB9;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    margin: 10px;
    text-align: center;
}

#input-area {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#text-box {
    text-align: center;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-rows: 7.5% 85% 7.5%;
}

button {
    color: white;
    border: none;
    margin: 2%;
    padding: 10px;
    border-radius: 12px;
}

textarea {
    border: none;
    border-radius: 12px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    resize: none;
}

#newnote-button {
    background-color: #5F987D;
}

#darktheme-button {
    background-color: #696969;
}

#save-button {
    background-color: #5F987D;
}

#cancel-button {
    background-color: #D23C22;
}

.icon {
    height: 30px;
    width: 30px;
}